body
{
    background-image:url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    margin: auto;
    padding: 10px;
    max-width: max-content;
    height: 50%;
    width:50%;
    display:table;
}
fieldset
{
    display: inline;
    background-color:black;
    color:white;
}
legend
{
    margin: 0 auto;
    font-size: 35px;
    font-weight: bolder;
    background-color:black;
}
table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th
{
    border-bottom: solid white 5px;
    font-size: 20px;
}
td, th
{
    text-align: center;
    vertical-align: middle;
    width:300px;
}
td
{
    font-size: 16px;
}
a
{
    color: white;
    text-decoration: none;
}
a:hover
{
    color:springgreen;
}
.fooldalspan
{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}
.sortipus, .sortipusokrows
{
    border-right: 1px;
    border-style: solid;
    border-color: white;
}
